<div class="container">

  <div class="banner">

    <div id="search-field" class="col-xs-6">
      <div>
      <h3>
        We connect world travelers with professional service providers that speak the same language.
      </h3>
      </div>
      <div class="form">
      <%= render 'form' %>
      </div>
    </div>
  </div>

  <div class="content-container1">

        <div>
          <h3 class="text-center">Why use YrLang?</h3>
          <div class="card">

              Traveling or moving to a new city can be challenging. <br>
              YrLang helps you find important, everyday things like <br>
              a doctor or a hairdresser, all in your language so you <br>
              can understand what's going on.<br><br>
              <i class="far fa-question-circle fa-5x"></i>

          </div>
        </div>
        <div>
          <h3 class="text-center">How does it work?</h3>
          <div class="card">
            <ol>
              <li>
              Find qualified and supportive professionals in your city<br>
              that speak your native language.  <i class="fas fa-language fa-lg"></i>
              <i class="fas fa-globe-americas fa-lg"></i>
              </li>
              <br>
              <li>
              Book an appointment that is convenient and works with your <br>
              schedule. <i class="far fa-calendar-check fa-lg"></i>
              <i class="far fa-clock fa-lg"></i>
              <br>
              </li>
              <br>
              <li>
              Go to your appointment at the pre-scheduled time. We take <br>
              care of the payment with our cashless system.
              <i class="fas fa-credit-card fa-lg"></i>
              <i class="fas fa-cash-register fa-lg"></i>
              <br>
              </li>
            </ol>
          </div>
        </div>
  </div>

  <div class="content-container2 text-center">

  <hr>
  </hr>




  </div>

  <div class="content-container1">

        <div>
          <h3 class="text-center">We verify</h3>
          <div class="card">

              We speak with each of our professional service providers <br>
              and verify language proficiency so you can be sure you'll <br>
              be understood.<br><br>

              <i class="fas fa-check-square fa-5x"></i>



          </div>
        </div>
        <div>
          <h3 class="text-center">How does it work?</h3>
          <div class="card">
            <ol>
              <li>
              Find qualified and supportive professionals in your city<br>
              that speak your native language.  <i class="fas fa-language fa-lg"></i>
              <i class="fas fa-globe-americas fa-lg"></i>
              </li>
              <br>
              <li>
              Book an appointment that is convenient and works with your <br>
              schedule. <i class="far fa-calendar-check fa-lg"></i>
              <i class="far fa-clock fa-lg"></i>
              <br>
              </li>
              <br>
              <li>
              Go to your appointment at the pre-scheduled time. We take <br>
              care of the payment with our cashless system.
              <i class="fas fa-credit-card fa-lg"></i>
              <i class="fas fa-cash-register fa-lg"></i>
              <br>
              </li>
            </ol>
          </div>
        </div>
  </div>
  <div class="content-container2 text-center">

  <hr>
  </hr>




  </div>

  <div class="banner2">
    <h1>Ready to find a provider?</h1>
    <div>
      <button type="button" class="btn">Get started</button>
    </div>

  </div>
  <div class="content-container2 text-center">

  <hr>
  </hr>




  </div>






</div>


